#header{
    position: absolute;
    top: 40px;
    width: 100%;
    z-index: 99;
    padding: 12px 0;   
    background-size: calc(100% - 24px) auto;
    background-position: center 99%;
}

#header::before{
    position: absolute;
    content: '';
    width: 270px;
    aspect-ratio: 270 / 24;
    height: auto;
    background-image: url("/assets/images/header_vector.svg");
    background-size: 100% auto;
    background-position: bottom center;
    bottom: 1px;
    left: 50%;
    transform: translate(-50%,100%);
    opacity: 0;
}

#header.active{
background: var(--accent);
z-index: 99;
position: fixed;
top: 0;
padding: 8px 0;
transform: translateY(-130%);
animation: show_header 1s forwards;
}

@keyframes show_header {
    to{
        transform: translateY(0);
    }
}

#header.active::before{
    opacity: 1;
}

#header .container{
    gap: 20px;
}

#header .container,
#header .container .menus{
    display: flex;
    align-items: center;
    justify-content: center;
}

#header .container .menus{
    gap: 20px;
    list-style: none;
}

#header .container .menus li{
    min-width: 140px;
    display: flex;
    justify-content: center;
}

#header .container .logo{
    min-width: 175px;
    display: flex;
    justify-content: center;
}

#header .container .menus li a{
    color: white;
    text-decoration: none;
}

.mobile_menu_btn{
    display: grid;
    place-items: center;
    width: 32px;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 50px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--orange);
    border: solid black 1px;
    box-shadow: 3px 3px 0px black;
}

.mobile_menu_btn img{
    width: 20px;
    height: auto;
}

.logoLink{
    display: flex;
}

.logoLink img{
    width: 151px;
    aspect-ratio: 151 / 99;
    height: auto;
    transition: 0.3s all;
}

#header.active .logoLink img{
    width: 120px;
}
 


/* responsive  */


/* tablet  */
@media screen and (max-width:1200px) {
      #header::before{
        width: 180px;
    }
}


/* mobile  */

@media screen and (max-width:767px) {

    #header::before{
        width: 130px;
    }

    .logoLink img{
        width: 100px;
    }

    #header.active .logoLink img{
        width: 80px;
    }

    #header{
    top: 32px;  
}
    
}