.hero_section{
    background-image: url('/assets/images/visitors-guide.png');
    background-size: cover;
}

.visitors_section .container{
    max-width: 1170px;
}

.visitors_section .container .top_heading{
    max-width: 995px;
}

.visitors_section .container .top_heading p{
    font-style: italic;
    font-weight: 700;
}

.visitors_section .container .content,
.visitors_section .container .content .detail{
    display: flex;
    flex-direction: column;
}

.visitors_section .container .content{
    gap: 32px;
    padding-top: 30px;
    border-top: solid var(--yellow) 1px;
}

.visitors_section .container .content .card{
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.visitors_section .container .top_heading p,
.visitors_section .container .content .card h2{
    font-size: 24px;
    line-height: 32px;
}

.visitors_section .container .content .card .icon img{
    width: 64px;
    height: auto;
    aspect-ratio: 1 / 1;
}

.visitors_section .container .content .detail{
gap: 8px;
color: white;
}


/* responsive  */

/* laptop  */

@media screen and (max-width:1750px) {

}

@media screen and (max-width:1600px) { 

    .visitors_section .container .top_heading p,
.visitors_section .container .content .card h2{
    font-size: 20px;
    line-height: 28px;
}

.visitors_section .container .content .card .icon img{
    width: 46px;
}
   
}

@media screen and (max-width:1550px) {
 
}

@media screen and (max-width:1400px) {

}


/* tablet  */
@media screen and (max-width:1200px) {
  
       .visitors_section .container .top_heading p,
.visitors_section .container .content .card h2{
    font-size: 20px;
    line-height: 28px;
}

.visitors_section .container .content .card .icon img{
    width: 46px;
}

}

/* mobile  */
@media screen and (max-width:767px) {

           .visitors_section .container .top_heading p,
.visitors_section .container .content .card h2{
    font-size: 18px;
    line-height: 26px;
}

.visitors_section .container .content .card .icon img{
    width: 32px;
}

}