button[type=submit] img{
    width: 40px;
    height: auto;
}

form{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

form input,
form textarea,
.file_upload{
 padding: 16px;
    background: none !important;
    font-size: 16px;
    line-height: 24px;
}

form.black_fields input,
form.black_fields textarea,
form.black_fields .file_upload{
    border: solid black 1px;
    color: black;
}


form.white_fields input,
form.white_fields textarea,
form.white_fields .file_upload{
    border: solid white 1px;
    color: white;

}

form input,
.file_upload{
    min-height: 56px;
    border-radius: 50px;
}

.file_upload,
.file_upload label{
    cursor: pointer;
}

form textarea{
    border-radius: 24px;
    min-height: 135px;
    resize: none;
}

::placeholder{
    opacity: 1 !important;
     font-size: 16px;
    line-height: 24px;
     font-family:"area-normal";
}

.black_fields ::placeholder{
    color: black;
}

.white_fields ::placeholder{
    color: #fff  !important;
}

form .full_cont{
    width: 100%;
}


form .half_cont{
    width: calc(50% - 15px);
}

/* responsive  */

/* laptop  */

@media screen and (max-width:1400px) {
    
    form{
    gap: 20px;
}

form .half_cont{
    width: calc(50% - 10px);
}

}

/* tablet  */

@media screen and (max-width:1200px) {


button[type=submit] img{
    width: 24px;
    height: auto;
}

}

/* mobile  */

@media screen and (max-width:767px) {


form .half_cont{
    width: 100%;
}

}